$bgcolor2: #ff4448;
$text-color: white;
$text-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

.list {
  font-family: $text-font;
  font-size: 18px;
}

h3 {
  font-family: $text-font;
  font-size: 20px;
  font-weight: 450;
}

.hdw {
  color: $text-color;
  font-family: $text-font;
  font-size: 36px;
  margin-top: 70px;
  font-weight: 400;
}

.hdw-para {
  color: $text-color;
  font-family: $text-font;
  font-size: 22px;
  font-weight: 300;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 50px;
  max-width: 850px;
}

.container {
  width: 650px;
  height: 260px;
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 31px;
  padding-right: 31px;
  margin: auto;
  margin-bottom: 50px;
  max-width: 1540px;
  border-radius: 5px;
  background: #d7e1ec;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

$box-height: 280px;
$box-width: 190px;

.length-features {
  float: left;
  width: $box-width;
  height: $box-height;
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
}

.count-features {
  float: left;
  width: $box-width;
  height: $box-height;
  border-radius: 7px;
  background-color: white;
  margin-left: 40px;
  box-sizing: border-box;
}

.binary-features {
  float: right;
  width: $box-width;
  height: $box-height;
  border-radius: 7px;
  background-color: white;
  box-sizing: border-box;
}

// ------------------------------------------------------------

// MOBILE RESPONSIVE
// This section contains css for devices of width below 730px

// css for viewport width 412 and below
@media (max-width: 412px) {
  .hdw {
    color: $text-color;
    font-family: $text-font;
    font-size: 26px;
    margin-top: 70px;
    font-weight: 400;
    margin-left: 100px;
    min-width: 500px;
  }

  .hdw-para {
    color: $text-color;
    font-family: $text-font;
    font-size: 22px;
    font-weight: 300;
    margin-left: 100px;
    margin-right: 130px;
    margin-bottom: 50px;
    min-width: 500px;
  }

  .container {
    width: 650px;
    height: 260px;
    padding-top: 25px;
    padding-bottom: 40px;
    max-width: 300vw;
    border-radius: 5px;
    background: #d7e1ec;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    margin-left: 3px;
  }
}

// css for viewport width 412px-720px
@media (min-width: 412px) and (max-width: 721px) {
  .hdw {
    color: $text-color;
    font-family: $text-font;
    margin-top: 70px;
    font-weight: 400;
    min-width: 500px;

    // ----------------
    margin-left: 150px;
    font-size: 32px;
  }

  .hdw-para {
    color: $text-color;
    font-family: $text-font;
    font-weight: 300;
    margin-right: 130px;
    margin-bottom: 50px;
    min-width: 500px;

    // ----------------
    margin-left: 150px;
    font-size: 26px;
  }

  .container {
    width: 650px;
    height: 260px;
    padding-top: 25px;
    padding-bottom: 40px;
    max-width: 300vw;
    border-radius: 5px;
    background: #d7e1ec;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;

    // -----------------
    margin-left: 55px;
  }
}
