

$bgcolor2 : #FF4448;
$text-color : white;
$text-font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.component4{
    background : $bgcolor2 ;
}


.developerInfo{
    color:$text-color;
    font-family: $text-font;
    font-size: 18px;
    padding-top: 20px;
    margin-top: 20px;
    font-weight: 600;
}










