

$bgcolor2 : #FF4448;
$text-color : white;
$text-font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.component4{
    background : $bgcolor2 ;
}


.developerInfo{
    color:$text-color;
    font-family: $text-font;
    font-size: 18px;
    padding-top: 20px;
    margin-top: 20px;
    
    font-weight: 600;
}



// ------------------------------------------------------------

// MOBILE RESPONSIVE
// This section contains css for devices of width below 730px


// css for viewport width 412 and below
@media (max-width: 412px) {

    .component4{
        background : $bgcolor2 ;
        min-width: 200vw;
    }

}



// css for viewport width 412px-720px
@media (min-width:412px) and (max-width:721px){
    .component4{
        background : $bgcolor2 ;
        min-width: 200vw;
    }

}























