.bg-slate-200 {
    background-color: #8EC5FC;
}

.gradient-background {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;